* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  height: 90px;
  width: auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
}

.logo img{
 height: 80px;
 width: 100px;
}

.para{
    color: grey;
    margin-left: 20px;
}

.searchbar{
    display: flex;
    width: 625px;
    /* border: 2px solid red; */
}
.selectOption{
    height: 40px;
    width: 50px;
    /* border-radius: 5px; */
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    text-align: center;
    background-color: lightgrey;
}
.searchField{
    width: 100%;
}
.searchIcon{
    height: 40px;
    width: 50px;
    display: flex;
    text-align: center;
    padding: 15px;
    color: black;
    background-color: rgb(158, 158, 39);
     border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.card-section{
    height:100vh;
    width:auto;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 400px;
    padding:20px;
    margin:20px;
    box-shadow:20px 30px 50px grey;
}
.card h1{
    text-align:center;
}
.card-image{
height:200px;
width:200px;
background-size:contain;
background-repeat:no-repeat;
margin:auto;
}
.card p a{
text-decoration:none;
}
.bottom-navbar{
    height: 50px;
    width: auto;
    background-color: rgba(149, 138, 138, 1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    }
   .bottom-navbar{
    height: 50px;
    width: auto;
    background-color: rgba(199, 172, 172, 1);
    color: white;
    display: flex;
    align-items: center;
   }
  body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #232f3e;
  color: #ddd;
}
.bottom-navbar{
    height: 50px;
    width: auto;
    background-color: rgb(39, 39, 39);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
  background-color: #232f3e;
  padding: 40px 80px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #d9dde3ff;
  padding-bottom: 30px;
}

.footer-column {
  flex: 1 1 200px;
  margin: 15px;
}

.footer-column h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ddd;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: #f3a847;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.footer-bottom .logo {
  width: 100px;
  filter: brightness(0) invert(1);
}

.language-country {
  display: flex;
  align-items: center;
  gap: 15px;
}

.language-country select {
  background: transparent;
  border: 1px solid #c5a0a0ff;
  color: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}

.country {
  display: flex;
  align-items: center;
  gap: 8px;
}

.country img {
  width: 20px;
  height: 15px;
  border-radius: 2px;
}

