* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  line-height: 1.6;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0 60px 0;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
#search_input {
  width: 60%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 18px;
  color: #333;
}
#search_btn {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  font-size: 18px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}
.search-results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.search-result {
  margin-bottom: 60px;
  width: 30%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease-in-out;
}
.search-result img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.search-result :hover img {
  opacity: 0.8;
}
.search-result a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-transform: capitalize;
}
.show_more {
  background-color: #008cba;
  font-size: 18px;
  width: 200px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 30px auto;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}
/* media queries */
@media screen and (max-width: 768px) {
  .search_results {
    padding: 20px;
  }
  .search_result {
    width: 45%;
  }
}
@media screen and (max-width: 480px) {
  .search_result {
    width: 100%;
  }
  .search_result {
    width: 100%;
  }
  #search_btn {
    display: block;
    margin-left: 0;
  }
  #show_more {
    display: block;
  }
}